
    .win{
        background-color: green;
       padding:6px 8px;
       border-radius: 50%;
       color: #fff;
       font-size: 12px;
    }
    .lose{
        background-color: red;
        padding:6px 8px;
       border-radius: 50%;
       color: #fff;
       font-size: 12px;
    }
    .draw{
        background-color: gray;
        padding:6px 8px;
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
    }

